.cardItem{
    width: 14rem;
    margin-top: 5px;
}

.lastCardItem24{
    margin-right: 24%;
}

.lastCardItem48{
    margin-right: 48%;
}

.lastCardItem72{
    margin-right: 72%;
}

.carContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}