.cardItem{
    width: 14rem;
    margin-right: auto;
    margin-top: 5px;
}
.carContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}