<div class="container">

  <div class="row">

    <!-- add car form start -->
    <form [formGroup]="addCarForm" (ngSubmit)="onSubmit(form)" #form="ngForm" autocomplete="off" class="add-car-form">

      <!-- Left side start -->
      <div class="col-5 form-column">

        <!-- manufacturer start -->
        <div class="form-group">

          <label for="manufacturers">Manufacturer</label>

          <ngx-select-dropdown [multiple]="false" [options]="manufacturers" formControlName="manufacturer" [config]="configManufacturersSelect"
            (change)="manufacturerSelectChanged($event)">
          </ngx-select-dropdown>

        </div>

        <span *ngIf="manufacturer.invalid">

          <span *ngIf="manufacturer.touched || manufacturer.dirty" class="text-danger">
            Manufacturer is required.
          </span>

        </span>
        <!-- manufacturer end -->

        <!-- Model start -->
        <div class="form-group">

          <label for="model">Model</label>

          <ngx-select-dropdown [multiple]="false" [options]="carModels" formControlName="model" [config]="configModelsSelect">
          </ngx-select-dropdown>

        </div>

        <span *ngIf="model.invalid">

          <span *ngIf="model.touched || model.dirty" class="text-danger">
            Model is required.
          </span>

        </span>

        <!-- Model end -->

        <!-- description start -->
        <div class="form-group">

          <mat-form-field 
                class="textarea-description">

            <textarea 
              matInput 
              placeholder="Description" 
              cdkTextareaAutosize="false" 
              matAutosizeMinRows="6" 
              type="text"
              name="description" 
              formControlName="description">
            </textarea>

              <mat-error *ngIf="description.hasError('whitespace') && !description.hasError('required')">
                Cannot be whitespace.
              </mat-error>

              <mat-error *ngIf="description.hasError('required')">
                Description is <strong>required</strong>
              </mat-error>

          </mat-form-field>

        </div>
        <!-- description start -->

        
        <div class="form-group">

            <mat-form-field>
              <input type="number" matInput placeholder="Price" name="price" formControlName="price"/>
                <mat-error *ngIf="description.hasError('required')">
                  Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <div class="float-right mt20">

                <!-- fixed price toggle start -->
                <label for="fixedPrice">Fixed Price
                  <mat-slide-toggle color="primary" name="fixedPrice" (change)="sliderChanged()"></mat-slide-toggle>
                </label>
                <!-- fixed price toggle end-->
      
              </div>
  
          </div>



        <div class="form-group">
          <!-- submit button -->

          <button type="submit" [disabled]="!addCarForm.valid" [title]="!addCarForm.valid ? 'All field are required' : ''"
            [ngClass]="{
                  'btn-success': addCarForm.valid,
                  'btn-danger': !addCarForm.valid
                }"
            class="btn">
            Add
          </button>

          <button class="btn btn-primary" (click)="goBack()">Back</button>
        </div>


      </div>
      <!-- Left side end -->

      <!-- Right side start -->
      <div class="col-5 form-column">


      </div>
      <!-- Right side end -->

    </form> <!-- add car form end -->
  </div>

</div>