.textarea-description {
  width: 100%;
  padding-right: 0;
  min-width: 100%;
}

.input-invalid {
  border: 1px solid red;
}

.noPaddingLeft {
  padding-left: 0;
}

.ui-select-choices.dropdown-menu {
  display: block;
}

.add-car-form{
  margin-top:20px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-column{
  margin-left: auto;
  margin-right: auto;
}

.btn.btn-primary{
  margin-left: 5px;
}

.mt20{
  margin-top: 20px;
}